body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 970px;
}

.primary-header {
  padding: 5.5px 0;
  background-image: url(./img/header_bg-16b933a63f94b28290d368006e6a4901530e656b79339c9ed6de9321eb73a30a.png);
}

.logo {
  width: 125px;
  height: 22px;
  background-image: url(./img/sprite-14779aea9a2609defbd213c565a1d0593922d6e2ca321f275b01c9afcb10310f.svg);
}

.search-input {
  display: inline-block;
  height: 34px;
  width: 226px;
  padding: 0 34px 0 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: #fff;
  font-size: 18px;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  position: relative;
  right: 35px;
  display: inline-block;
  width: 34px;
  height: 34px;
  border: none;
  vertical-align: top;
  background: none;
  cursor: pointer;
}

.search-btn::after {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(./img/sprite-14779aea9a2609defbd213c565a1d0593922d6e2ca321f275b01c9afcb10310f.svg);
  background-position: 51.41242937853107% 71.42857142857143%;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Bold-webfont.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular-webfont.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Light-webfont.woff);
  font-weight: 300;
  font-style: normal;
}
