body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 43px;
  margin-top: 44px;
}

main {
  margin-top: 20px;
}

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 5.5px 0;
  background-image: url(./img/header_bg-16b933a63f94b28290d368006e6a4901530e656b79339c9ed6de9321eb73a30a.png);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.logo {
  width: 125px;
  height: 22px;
  background-image: url(./img/sprite-14779aea9a2609defbd213c565a1d0593922d6e2ca321f275b01c9afcb10310f.svg);
  cursor: pointer;
}

.nav-toggle {
  position: relative;
  padding-left: 25px;
  margin-left: 25px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  cursor: default;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 15px;
  background-position: 44.134078212290504% 87.68115942028986%;
}

.search-input {
  display: inline-block;
  height: 34px;
  width: 226px;
  padding: 0 34px 0 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: #fff;
  font-size: 18px;
}

.search-input:focus,
.search-btn:focus,
.search-input-toggle {
  outline: none;
}

.search-btn {
  position: relative;
  right: 35px;
  display: inline-block;
  width: 34px;
  height: 34px;
  border: none;
  vertical-align: top;
  background: none;
  cursor: pointer;
}

.search-btn::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 20px;
  height: 20px;
  background-position: 51.41242937853107% 71.42857142857143%;
}

.search-input-toggle {
  display: none;
  position: absolute;
  right: 15px;
  top: 9px;
  width: 34px;
  height: 34px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-input-toggle::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 20px;
  height: 20px;
  background-position: 51.41242937853107% 71.42857142857143%;
}

.nav-container {
  background-color: #222222;
}

.nav-container.fixed-nav-container {
  position: fixed;
  top: 44px;
  z-index: 2;
  width: 100%;

}

.link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.link:hover {
  background-color: #454545;
}

.sprite::after, .sprite::before {
  background-image: url(./img/sprite-14779aea9a2609defbd213c565a1d0593922d6e2ca321f275b01c9afcb10310f.svg);
}

.nothing-found {
  margin-top: 100px;
  text-align: center;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Bold-webfont.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular-webfont.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Light-webfont.woff);
  font-weight: 300;
  font-style: normal;
}

/* BOOTSTRAP CLASSES */

.container {
  max-width: 970px;
}

.row {
  margin: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-right: 6px;
  padding-left: 6px;
}
